.form{
    width: 350px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
}
.currencyWrapForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 0 auto;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.61);
        -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.61);
}
.inputConvertation{
    width: 100%;
    padding: 15px 20px 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 40px;
}